"# Sublime Text" 
"*.sublime-workspace" 
"*.sublime-project" 
"Session.sublime_session" 
"" 
"# Python cache" 
"__pycache__/" 
"*.pyc" 
"" 
"# Executable files" 
"*.exe" 
"*.out" 
"" 
"# OS files" 
".DS_Store" 
"Thumbs.db" 
update_*.bat
update_*.sh
*.backup.*
temp_*